
.main_container{
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, rgb(62, 62, 205), rgb(109, 178, 206),rgba(0, 0, 255, 0.227));
  padding: 20px;
  /* background: linear-gradient(to right, rgb(56, 57, 57), rgb(123, 123, 129),rgba(194, 194, 214, 0.227)); */
 
}

/* css for different screen  */
@media screen and (max-width: 1100px) {
  .current_stats{
    width: 50% !important;
    /* border: none !important; */
    /* border-bottom: 1px solid white !important; */

  }
}

@media screen and (max-width: 860px) {
  .current-temperature{
    width: 100% !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    justify-content: center;
  }
  .current_stats{
    width: 100% !important;
    border: none !important;
    border-bottom: 1px solid white !important;

  }
}

@media screen and (max-width: 480px) {
    .todays_weather{
      flex-direction: column !important;
    }
}
